@font-face {
  font-family: "Potra";
  src: url("/static/fonts/Potra.ttf");
}

@font-face {
  font-family: "Cubic";
  src: url("/static/fonts/cubic.ttf");
}

@-webkit-keyframes LoadingAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes LoadingAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes LoadingAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-webkit-keyframes BackgroundAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes BackgroundAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.index-form-group {
  width: 75% !important
}

body {
  background-image: linear-gradient(-130deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
  -webkit-animation: BackgroundAnimation 15s ease infinite;
  -moz-animation: BackgroundAnimation 15s ease infinite;
  animation: BackgroundAnimation 15s ease infinite;
  background-size: 400% 400%;
}

.logo-title {
  font-family: Potra;
  font-size: calc(35px + 5vw);
  padding: 20px;
  margin: 0;
  text-align: center;
}

.search-bar-remove-radius {
  border-radius: .3rem .3rem 0rem 0rem !important;
}

.search-mw {
  max-width: 750px;
}

.info-dropdown {
  padding-left: 10px;
  max-height: 0px;
  border: 1px solid #ced4da;
  border-radius: 0rem 0rem .3rem .3rem;
  margin-top: -4px;
  overflow: hidden;
  transition: max-height .6s ease 0s;
}

.loading-div {
  height: 28px;
  width: 100%;
  padding: 0px;
}

.loading-background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loading-bar {
  overflow: hidden;
  padding-left: 7px;
  padding-top: 2px;
  width: 0%;
  height: 100%;
  font-weight: 600;
  transition: width .6s ease 0s;
  background-size: 400% 400%;
  
  -webkit-animation: LoadingAnimation 3s ease infinite;
  -moz-animation: LoadingAnimation 3s ease infinite;
  animation: LoadingAnimation 3s linear infinite;
}

.loading-bar.working {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.loading-bar.error {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table.info-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: .3rem;
}

table.info-table caption {
  caption-side: top;
  color: white !important;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

table.table-info td, table.table-info th {
  padding: 3px, 2px;
}

table.info-table tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.2);
}

table.info-table tbody tr:last-child td:first-child {
  border-radius: 0rem 0rem .3rem 0rem;
}

table.info-table tbody tr:last-child td:last-child {
  border-radius: 0rem 0rem .3rem 0rem;
}

table.info-table th:first-child {
  border-radius: .3rem 0rem 0rem 0rem;
}

table.info-table th:last-child {
  border-radius: 0rem .3rem 0rem 0rem;
}

table.info-table thead th {
  font-size: 15px;
  font-weight: normal;
  padding: 0px 3px;
  color: #FFFFFF;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}

.info-text {
  color: white !important;
}

.info-flavour-text {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.info-icon {
  color: #6c757d;
}

.info-dropdown-footer {
  background-color: white;
  cursor: pointer;
}

.info-text.percent {
  font-size: 100px;
}

.info-dropdown.expand {
  max-height: 5000px;
  transition: max-height 2s ease 0s;
}

.info-dropdown.danger {
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info-dropdown.warning {
  background: #F7971E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info-dropdown.working {
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info-dropdown.success {
  background: #a8ff78;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2bd027, #218e13);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2bd027, #218e13); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.search-bar-border-radius {
  border-radius: .3rem 0rem 0rem 0rem !important;
}

.search-button-border-radius {
  border-radius: 0rem .3rem 0rem 0rem !important;
}